<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 03.31.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi! Such a beautiful day</p>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello! A wonderful scenery</p>
        </div>
    </body>
</html>